body{
    background-color: grey;
}
.hero{
    background-image: url(../img/Heroimage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
}
i{
    color: white;
}
.sashimi{
    position: relative;
    height: 80%;
    width: 100%;
}
#range{
    width: 100%;
}
#community{
    width: 100%;
}
#blog{
    background-color: blue;
    height: 500px;
    width: 100%;
}
#calendar{
    background-color: orange;
    height: 500px;
    width: 100%;
}
#about{
    background-color: green;
    height: 500px;
    width: 100%;
}
#contact{
    background-color: red;
    height: 500px;
    width: 100%;
}
#donate{
    background-color: blue;
    height: 500px;
    width: 100%;
}
footer{
    background-color: gray;
}

@media screen and (max-width: 991px) {
    #navbarSupportedContent {
    position: absolute;
    top: 65px;
    z-index: 1;
    right: 67px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}
}
